html {
    background-color: #000;
}

.corPrimaria {
    background-color: #000;
    
}

.corTitulo1 { 
    color: #fff;
   
}
.corTitulo2 { 
    color: #606063;
    
}
.corTitulo3 { 
    color: #A020F0;
    
}

