html {
    background-color: #000;
    scroll-behavior: smooth;
}

.corPrimaria {
    background-color: #000;
    
}

.corTitulo1 { 
    color: #fff;
   
}
.corTitulo2 { 
    color: #606063;
    
}
.corTitulo3 { 
    color: #A020F0;
    
}


.area1,.area2,.area3,.area4,.area5,.area6,.area7,.area8,.area9,.area10,.area11,.area12,.area13,.area14{
  visibility: hidden;
}
.area1C,.area2C,.area3C,.area4C,.area5C,.area6C,.area7C,.area8C,.area9C,.area10C,.area11C,.area12C,.area13C,.area14C,.area15C,.area16C,.area17C{
  visibility: hidden;
}
